.figuresArea {
    border: 1px solid black;
    height: 95vh;
    width: 25%;
    margin-left: 15px;
}

.figuresHeader {
    border-bottom: 1px solid black;
    background-color: #ffe6a8db;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
.itemBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}